
.font-w-300 {
  font-weight: 300;
  padding-right: 10px;
  padding-left: 10px;
}

.bd-right {
  border-right: 1px solid gray;
}


.pdbtn {
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}

.w-41 {
  width: 41%;
}

.bd-bottom {
  border-bottom: 1px solid grey;
}

#wrapper {
  /* max-width: 72rem; */
  /* margin-top: 6px; */
  background-color: #f8f8f8;
  margin: 0px auto;
  border-radius: 20px;
}
/* header-payment */
.estime-date {
  color: #0fc60f;
  margin-left: 30px;
}

/* detail-payment */
#detail-payment {
  position: relative;
  margin-bottom: 20px;
}
/* img */
.img-container {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 15px;
}

.img-container img {
  max-width: 100%;
  max-height: auto;
}

.info-product {
  align-items: center;
}

.price-qty {
  margin-right: 10px;
  position: absolute;
  right: 0;
}

.circle-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: gray;
    position: relative;
}

.circle-icon {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-icon i {
    font-size: 24px;
    color: black;
}